{
    "env": {
        "commonjs": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets": {
                            "browsers": ["last 2 versions", "> 1%"],
                            "node": 6
                        },
                        "modules": false,
                        "useBuiltIns": "usage"
                    }
                ],
                "@babel/flow"
            ]
        },
        "development": { "ignore": ["**/*.test.js"] },
        "production": { "ignore": ["**/*.test.js"] },
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets": {
                            "browsers": ["last 2 versions", "> 1%"],
                            "node": "current"
                        },
                        "modules": "commonjs",
                        "useBuiltIns": "usage"
                    }
                ],
                "@babel/flow"
            ]
        }
    },
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": ["last 2 versions", "> 1%"],
                    "node": 6
                },
                "modules": false,
                "useBuiltIns": "usage"
            }
        ],
        "@babel/flow"
    ],
    "plugins": [
        ["@babel/proposal-class-properties", { "loose": false }],
        "@babel/proposal-export-default-from",
        "@babel/proposal-export-namespace-from",
        "@babel/proposal-logical-assignment-operators",
        ["@babel/proposal-optional-chaining", { "loose": false }]
    ]
}
