# ignore the src and test folders for publishing; work should be done through
# the github repo

src/
test/
__test__/

# more development files
.flowconfig
flow-typed/npm/
tmp/
yarn.lock
.atom/
coverage/
.nyc_output/
